
<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <!-- <a class="navbar-brand text-primary font-weight-bold" href="#"><img src="images/logo.png" height="40"></a> -->
    <a class="navbar-brand" href="#">  Nutritionix  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/wishlist']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Join Us</a>
        </li>
      </ul>
    </div>
  </div>	
  </nav>

  


<router-outlet></router-outlet>


<br><br><br><br><br><br><br><br>


  <footer class="bg-dark text-center text-light ">
    <!-- Copyright -->
    <div class="p-3" style="background-color: rgba(0, 0, 0, 0.973);">
      © 2020 Copyright:
      <a class="text-light" href="#">www.nutritionix.com</a>
    </div>
    <!-- Copyright -->
  </footer>